@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

.app {
  background-image: url('https://images.unsplash.com/photo-1508108712903-49b7ef9b1df8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHdoaXRlJTIwbGFuZHNjYXBlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
}

.app.warm {
  background-image: url('https://images.unsplash.com/photo-1585427915733-13af3fcb80b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHBpbmslMjBsYW5kc2NhcGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  padding: 25px 25px 40px 25px;
  width: 100%;
  margin: auto;
}

.search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  font-family: inherit;
  font-size: 16px;
  width: 500px;
  padding: 15px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px rgba(145, 137, 137, 0.3);
  border-radius: 16px 0 16px 0;
  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(205, 205, 205, 0.3);
  box-shadow: 0 0 10px 5px rgba(100, 100, 100, 0.3);
  width: 500px;
  padding: 40px 25px 40px 25px;
  margin-top: -20px;
}

.location-box .location {
  color: white;
  font-size: 40px;
  margin-bottom: 10px;
}

.location-box .date {
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.weather-box .temp {
  color: white;
  font-size: 100px;
  font-weight: bolder;
  margin: 20px 0 30px 0;
  text-shadow: 2px 6px rgba(0, 0, 0, 0.4);
}

.weather-box .weather {
  color: white;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 15px;
  text-shadow: 0 3px rgba(0, 0, 0, 0.4);
}

.weather-box .high-low {
  color: white;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0 2px rgba(0, 0, 0, 0.4);
}

@media(max-width:768px) {
  .search-box .search-bar {
    width: 70vw;
  }

  .data-container {
    width: 80vw;
  }
}

@media(max-width:480px) {
  .weather-box .temp {
    font-size: 80px;
  }
}
